body {
  width: 1024px;
  font-family: verdana, sans-serif;
  color: #666;
}

h1 {
  font-size: 343%;
  font-weight: 400;
  padding: 25px;
  margin-top: 22px;
}

h2 {
  font-size: 170%;
  font-weight: 600;
  color: #f07c17;
  margin-top: 5px;
  margin-bottom: 30px;
  margin-left: 6px;
}

p {
  font-size: 15px;
  line-height: 2.15em;
  margin-left: 6px;
}

ul {
  font-size: 16px;
  line-height: 2.1em;
  padding: 0 0 0 45px;
}

/* extra formatting for "Good Way to Start..." header */
.start-day {
  margin-top: -12px;
  padding: 0 0 0 37px;
}

/* extra formatting for "Main Features" box */
.main-features {
  border: solid 1px #ccc;
  width: 374px;
  height: 224px;
  margin-top: 36px;
  padding: 25px;
}